.blocks__container {
  flex: 1 0 auto;
  background-color: rgba(0, 121, 191, 1);

  padding: 25px 20px 25px 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 749px) {
  .blocks__container {
    flex-direction: column;
    gap: 50px;
  }
}
